@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap');
.main{
  font-family: 'Ubuntu', sans-serif;
  background-color: rgb(0, 66, 37);
  color: ivory;
  text-align: center;
  height: 380px;
  margin-top: 40px;
  margin-left: 387px;
  border-radius: 10px;
  border: 3px solid ivory;
  width: 700px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.item{
  font-family: 'Ubuntu', sans-serif;
  margin-right: 15px;
}
.selected{
  font-family: 'Ubuntu', sans-serif;
  margin: 5px;
  padding: 3px;
  border: 3px solid ivory;
  border-radius: 6px;
  background-color: ivory;
  cursor: pointer;
}
.entry{
  margin-top: 15px;
  font-family: 'Ubuntu', sans-serif;
}
.send{
  margin: 0 auto;
  background-color: ivory;
  border: 3px solid ivory;
  border-radius: 6px;
}