@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap');
.img{
  width: 200px;
  filter: invert(100%);
}
.main{
  color: ivory;
  font-family: 'Ubuntu', sans-serif;
  display: flex;
  margin-top: 20px;
  flex-direction: column;
  align-items: center;
}
.link{
  color: ivory;
}
