@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap');
.main{
  color: ivory;
  background-color: rgb(0, 66, 37);
  font-family: 'Ubuntu', sans-serif;
  width: 320px;
  height: fit-content;
  margin-top: 40px;
  margin-bottom: 40px;
  margin-left: 600px;
  padding: 10px;
  border: 3px solid ivory;
  border-radius: 6px;
}
.activity{
  border: 3px solid ivory;
  border-radius: 6px;
  padding: 3px;
  margin-bottom: 5px;
  list-style-type: none;
}
.loading{
  font-family: 'Ubuntu', sans-serif;
  color: ivory;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}